<h6><a href="{{@blog.url}}/start/">New? Start here!</a></h6>
<h6><a href="{{@blog.url}}/learn/">Machine Learning course</a></h6>
<h6><a data-formkit-toggle="70f58f432c" href="https://dataschool.ck.page/70f58f432c">Subscribe to our newsletter</a></h6>
<h6><a href="{{@blog.url}}/about/">About</a></h6>
