<h6><a href="{{@blog.url}}/about/">About</a></h6>
<h6><a href="{{@blog.url}}/tag/popular/">Most Popular Posts</a></h6>
<h6><a href="{{@blog.url}}/resources/">Data Science Resources</a></h6>
<h6><a href="https://www.youtube.com/user/dataschool?sub_confirmation=1">Join my 7,000+ YouTube subscribers</a></h6>
<h6>Subscribe to Newsletter</h6>
<script type="text/javascript" src="http://app.getresponse.com/view_webform.js?wid=9758302&u=1NVQ"></script>
