<h6><a href="{{@blog.url}}/start/">New? Start here!</a></h6>
<h6><a href="{{@blog.url}}/learn/">Machine Learning course</a></h6>
<h6><a href="https://www.youtube.com/dataschool?sub_confirmation=1">Join my 120,000+ YouTube subscribers</a></h6>
<h6><a href="{{@blog.url}}/about/">About</a></h6>
